body{
    background-color:cornsilk;
    font-family: Arial, Helvetica, sans-serif
}

#title {
    background-color:burlywood;
    color:white;
    text-align:center;
    font-size:45px
}

.links {
    font-size: 18px;
}

.description {
    font-size:19px;
}